*~ 
*.pyc 
oerpub.rhaptoslabs.slideimporter.egg-info/ 
oerpub/rhaptoslabs/slideimporter/transforms/* 
!oerpub/rhaptoslabs/slideimporter/transforms/README 
oerpub/rhaptoslabs/data/
src/oerpub/rhaptoslabs/slideimporter/*.pyc
build/
dist/
test-zopeskel/
